<!DOCTYPE html>
<html lang="en" >
	<head>
		<script src="js/min/jquery-1.11.1.min.js"></script>
		<script src="js/min/plugins.js"></script>
		<script src="js/min/app.js"></script>
		<script src="js/min/js.cookie.js"></script>


		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title id="UserPage">用户主页</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link  href="http://172.28.92.139/fonts/font-awesome.min.css" rel="stylesheet" name="location" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="http://172.28.92.139/sass/style.css" name="location">
		

		<![endif]-->



	</head>


	<body>


	<div id="site-content">
		<div id="header"></div>
		<main class="main-content">
			<div class="container">
				<div class="page">
					<div class="breadcrumbs">
						<a href="homepage.html" id="zhuye">主页</a>


					</div>
					<div class="movie-list"  id="movie">
						<div class="movie" >
							<figure class="movie-poster"><img src="pict/UserSystemPict/用户信息.jpeg" alt="#" /></figure>
							<div class="movie-title"><a href="#" id="userinfo" style="color: blue;text-decoration:underline;">用户信息</a></div>
						</div>
						<div class="movie">
							<figure class="movie-poster"><img src="pict/UserSystemPict/收藏夹.jpeg" alt="#" ></figure>
							<div class="movie-title"><a href="#" id="favorite" style="color: blue;text-decoration:underline;">收藏夹</a></div>
						</div>
<!--                           后续新增功能                      -->
					</div> <!-- .movie-list -->

				</div>
			</div> <!-- .container -->
		</main>
		<div id="footer"></div>
	</div>

	<!-- Default snippet for navigation -->



	</body>

	<!--   -->
	<!--	共享头 脚-->
	<script type="text/javascript" charset="GBK" src="js/MyJs/share/global.js"></script>
	<script type="text/javascript" charset="GBK" src="js/MyJs/share/functions.js"></script>
	<script type="text/javascript" charset="GBK" src="js/MyJs/share/shareHeaderFoot.js"></script>


<script charset="GBK" type="text/javascript" src="js/MyJs/main/main.js"></script>
</html>