<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="js/min/jquery-1.11.1.min.js"></script>
		<script src="js/min/plugins.js"></script>
		<script src="js/min/app.js"></script>
		<script src="js/min/js.cookie.js"></script>


		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<title id="title">跳转页面</title>
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="http://172.28.92.139/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="http://172.28.92.139/sass/style.css">
		
		<!--[if lt IE 9]>

		<![endif]-->


	<body id="body">
		<div id="site-content">
			<div id="header"></div>

			<div style="width:100%;text-align:center">
				<div >
					<h1 style="color: green">登录<span id="Up"  style="color: red">失败</span></h1>
					<h2 style="color: red;" id="h1" ><span style="color: greenyellow">可能原因:</span>账号或密码错误等<span></span></h2>
				</div>


			</div>
			<div id="footer"></div>
		</div>
		<!-- Default snippet for navigation -->
	<!--		共享头和脚-->
		<script type="text/javascript" charset="GBK" src="js/MyJs/share/global.js"></script>
		<script type="text/javascript" charset="GBK" src="js/MyJs/share/functions.js"></script>
		<script type="text/javascript" charset="GBK" src="js/MyJs/share/shareHeaderFoot.js"></script>

	</body>

</html>