<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="expires" content="0">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<title id="MovieTitle">主页</title>
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="sass/style.css">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->


	</head>

	<body id="body">
		<div id="site-content">
			<div id="header"></div>

			<main class="main-content" id="ma">
				<div class="container">
					<div class="page">
						<div class="row" id="littlePictA">
							<div class="col-md-9">
								<div class="slider" >
									<ul class="slides" id="bigpict" >
								<!--		首页滑动展示固定张图片								-->
										<li><a href=""><img src="#" alt=""></a></li>
										<li><a  href=""><img src="#" ></a></li>
										<li ><a  href=""><img src="#" ></a></li>
										<li ><a  href=""><img src="#" ></a></li>
										<li ><a  href=""><img src="#" ></a></li>
										<li><a  href=""><img src="#" ></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="row" >
									<div class="col-sm-6 col-md-12">
										<div class="latest-movie">
											<a href="#"><img src="#" alt="Movie 1"></a>
										</div>
									</div>
									<div class="col-sm-6 col-md-12">
										<div class="latest-movie">
											<a href="#"><img src="#" alt="Movie 2"></a>
										</div>
									</div>
								</div>
							</div>
						</div> <!-- .row -->


						<div class="row" id="littlePictB" >
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="#" alt="Movie 3"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="#" alt="Movie 4"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="#" alt="Movie 5"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="#" alt="Movie 6"></a>
								</div>
							</div>
						</div> <!-- .row -->

					<!--	填充链接				-->
						<div class="row">
							<div class="col-md-4">
								<h2 class="section-title" >电影</h2>
								<p>本站部分电影及上映时间</p>
								<ul class="movie-schedule" id="movie">
									<li>
										<div class="date"></div>
										<h2 class="entry-title"><a href="#" ></a></h2>
									</li>
									<li>
										<div class="date"></div>
										<h2 class="entry-title" title=""><a href="#" ></a></h2>
									</li>
									<li>
										<div class="date"></div>
										<h2 class="entry-title"><a href="#"></a></h2>
									</li>
									<li>
										<div class="date"></div>
										<h2 class="entry-title"><a href="#"></a></h2>
									</li>
								</ul> <!-- .movie-schedule -->
							</div>
							<div class="col-md-4">
								<h2 class="section-title">电视剧</h2>
								<p>本站部分电视剧及上映时间</p>
								<ul class="movie-schedule" id="teleplay">
									<li>
										<div class="date"></div>
										<h2 class="entry-title"><a href="#"></a></h2>
									</li>
									<li>
										<div class="date"></div>
										<h2 class="entry-title"><a href="#"></a></h2>
									</li>
									<li>
										<div class="date"></div>
										<h2 class="entry-title"><a href="#"></a></h2>
									</li>
									<li>
										<div class="date"></div>
										<h2 class="entry-title"><a href="#"></a></h2>
									</li>
								</ul> <!-- .movie-schedule -->
							</div>
							<div class="col-md-4">
								<h2 class="section-title" >动漫</h2>
								<p>本站部分动漫及上映时间</p>
								<ul class="movie-schedule" id="cartoon">
									<li>
										<div class="date"></div>
										<h2 class="entry-title"><a href="#"></a></h2>
									</li>
									<li>
										<div class="date"></div>
										<h2 class="entry-title"><a href="#"></a></h2>
									</li>
									<li>
										<div class="date"></div>
										<h2 class="entry-title"><a href="#"></a></h2>
									</li>
									<li>
										<div class="date"></div>
										<h2 class="entry-title" title="" ><a href="#"></a></h2>
									</li>
								</ul> <!-- .movie-schedule -->
							</div>
						</div>
					</div>
				</div> <!-- .container -->
			</main>
			<div id="footer"></div>
		</div>

		</body>
	<!-- Default snippet for navigation -->
	<script src="js/min/jquery-1.11.1.min.js"></script>
	<script src="js/min/plugins.js"></script>
	<script src="js/min/app.js"></script>
<!--	&lt;!&ndash;	要使用网上的jquery Cookie  使用本地的jquery.min.js会报错&ndash;&gt;-->
<!--	<script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>-->
<!--	<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->
<script src="js/min/js.cookie.js" type="text/javascript"></script>
	<!--	已完成的功能和请求的Servlet	-->
	<!--	共享头 脚-->
	<script type="text/javascript" charset="GBK" src="js/MyJs/share/global.js"></script>
	<script type="text/javascript" charset="GBK" src="js/MyJs/share/functions.js"></script>
	<script type="text/javascript" charset="GBK" src="js/MyJs/share/shareHeaderFoot.js"></script>



	<script type="text/javascript" charset="GBK" src="js/MyJs/homePage/global.js"></script>
	<script type="text/javascript"  charset="GBK" src="js/MyJs/homePage/functions.js"></script>
	<!--	向服务器查询一定数量的影片 	-->
	<script type="text/javascript" charset="GBK" src="js/MyJs/homePage/FindFilmBySum.js"></script>
	<!--		填充页面下面的列表	-->
	<script type="text/javascript"  charset="GBK" src="js/MyJs/homePage/FillList.js"></script>


</html>