<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title">播放页面</title>
</head>
<script type="text/javascript" src="js/min/jquery-1.7.2.js"></script>


<body>
<h1 style="color: darkseagreen" id="h1"></h1>
<video   controls="controls"  title="#" id="Filmsource" src="#" width="1000" height="600" >
<!--     film/teleplay/胜者即是正义/2012%20LegalHigh%2006.mp4  -->
</video>

</body>
<script type="text/javascript" src="js/min/jquery-1.11.1.min.js"></script>
<!--	要使用网上的jquery Cookie  使用本地的jquery.min.js会报错-->
<!--<script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>-->
<!--<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->
<script src="js/min/js.cookie.js" type="text/javascript"></script>
<!--   已完成的功能 -->
<script type="text/javascript" charset="GBK" src="js/MyJs/share/global.js"></script>
<script type="text/javascript" charset="GBK" src="js/MyJs/share/functions.js"></script>
<script type="text/javascript"charset="GBK" src="js/MyJs/share/shareHeaderFoot.js"></script>

<script type="text/javascript" charset="GBK" src="js/MyJs/play/global.js"></script>
<script type="text/javascript" charset="GBK" src="js/MyJs/play/play.js"></script>

</html>